<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="navigation-tools">
      <% if not current_user %>
        <a style="margin-left: 20px" href="<%= url_for sign_up_path %>" class="sign-up">Sign Up</a> &nbsp;
        <a href="<%= url_for log_in_path %>" class="log-in">Log In</a>
      <% else %>
        <a href="<%= url_for log_out_path %>" class="log-out">Log Out</a>
      <% end %>
    </div>
  </div>
</header>
